extends layout

block content
  h1= title
  p Bienvenue sur l'API BECOM'IN
  p Voici les routes disponibles :
  ul 
  li /prestations
  li /prestation/?id={id}
  li /languages
  li /portfolio
  li /portfolio-example
  li /survey
  li /results/?a1={answer1}&a2={answer2}&a3={answer3}...
